.Board {
    position: relative;
    margin: 0 auto;
    background-color: #d65d63;
    background-image:
            linear-gradient(#333 1px, transparent 1px),
            linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background:
            #f8f1eb;
    position: absolute;
}

.controls {
    margin-top: 20px;
}
